/* Colors base
 * This css setup is for create a color theme customization
 * based on custom properties (a.k.a CSS Variables).
*/
:root {
  --black: #333333;
  --black-pure: #000000;
  --black-opacity: #00000030;

  --white: #f4f4f4;
  --white-pure: #ffffff;
  --white-opacity: #ffffff30;

  --gray: #c3c3c3;
  --gray-light: #f4f4f4;
  --gray-dark: #777777;
  --gray-darker: #555555;

  --primary: #0080ff;
  --primary-light: #d9ecff;
  --primary-dark: #005cb8;
  --primary-darker: #002952;
  --primary-opacity: #0080ff30;
  --primary-hover: var(--primary-dark);
  --text-above-primary: var(--white);
  --text-above-primary-hover: var(--white);

  --dark: #002952;
  --dark-light: #005cb8;
  --dark-dark: #001d3a;
  --dark-darker: #001224;
  --dark-opacity: #00295230;
  --dark-hover: var(--dark-dark);
  --text-above-dark: var(--white);
  --text-above-dark-hover: var(--white);

  --light: #d9ecff;
  --light-light: #e5f2ff;
  --light-dark: #adc7e2;
  --light-darker: #92abc7;
  --light-opacity: #00295230;
  --light-hover: var(--light-dark);
  --text-above-light: var(--black);
  --text-above-light-hover: var(--black);

  --secondary: #9748e2;
  --secondary-light: #d9b0ff;
  --secondary-dark: #8327b1;
  --secondary-darker: #522978;
  --secondary-opacity: #a855f730;
  --secondary-hover: var(--secondary-dark);
  --text-above-secondary: var(--white);
  --text-above-secondary-hover: var(--white);

  /* Tertiary
   * Add the tertiary color is you need it.
  */
  --tertiary: #000000;
  --tertiary-light: #000000;
  --tertiary-dark: #000000;
  --tertiary-darker: #000000;
  --tertiary-hover: var(--tertiary-dark);
  --text-above-tertiary: var(--white);
  --text-above-tertiary-hover: var(--white);
  /* END Tertiary */

  --success: #00eba8;
  --success-light: #d9fcf2;
  --success-dark: #008f66;
  --success-darker: #003d2c;
  --success-opacity: #00eba830;
  --success-hover: var(--success-dark);
  --text-above-success: var(--success-darker);
  --text-above-success-hover: var(--white);

  --warning: #ffcc33;
  --warning-light: #fff8e0;
  --warning-dark: #b88a00;
  --warning-darker: #523d00;
  --warning-opacity: #ffcc3330;
  --warning-hover: var(--warning-dark);
  --text-above-warning: var(--warning-darker);
  --text-above-warning-hover: var(--white);

  --error: #ff264a;
  --error-light: #ffdee4;
  --error-dark: #a3001b;
  --error-darker: #52000e;
  --error-opacity: #ff264a30;
  --error-hover: var(--error-dark);
  --text-above-error: var(--white);
  --text-above-error-hover: var(--white);

  --link-color: var(--primary);
  --link-visited-color: var(--primary-dark);
  --link-hover-color: var(--primary-dark);

  --heading-color: var(--black);
  --heading-hover-color: var(--heading-color);

  --text-color: var(--black);
  --text-secondary-color: var(--gray-dark);

  --disabled-bg-color: var(--gray);
  --disabled-text-color: var(--gray-darker);

  --border-color: var(--gray);
  --border-dark-color: var(--gray-darker);

  --ghost-bg: #f9fcff;

  --default-ring-color: var(--primary);
}

/* END Colors base */
